.modal-form {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 330px;
  row-gap: 20px;
  &-input {
    width: 330px;
    height: 55px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 0;
    padding-left: 20px;
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
  &-btn {
    width: 330px;
    height: 55px;
    background-color: #002d96;
    border: none;
    padding-left: 24px;
    padding-right: 18px;
    text-align: left;
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
